@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather+Sans:wght@500;600;700&display=swap');

nav {
    height: 100px;
    width: 100vw;
    background-color: #2d2c29;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
}

nav>.nav-logo>img {
    width: 100px;
    height: 100px;
    padding: 0px;
}

nav>.nav-links {
    display: inline;
    font-family: 'Merriweather Sans', sans-serif;
    float: right;
    font-size: 22px;
}

nav>.nav-links>a {
    display: inline-block;
    padding: 33px 10px 13px 10px;
    color: #f5e8ca;
}

nav>.nav-links>a:hover {
    color: #e3711a;
}